<div class="main-containe">
    <div>
        <div>
            <h4>Selecte your Income / Buget</h4>
            <p>Set your income /bugets to the entered value</p>
        </div>
        <div>
          <form [formGroup]="bugetForm" (ngSubmit)="saveBugets()">

            <div class="form-group">
                <div class="ui-bugets">
                    <label htmlFor="bugets">Enter your Bugets*</label><br />
                    <input pInputText id="bugets" formControlName="bugets"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && v['bugets'].errors }"  />
                    <div *ngIf="bugget && v['bugets'].errors" class="invalid-feedback">
                      <div *ngIf="v['bugets'].errors['required']">Bugets is required</div>
                    </div>
                  </div>
                
                <div>
                    <button type="submit" class="btn btn-primary" >Set Buget</button>
                </div>
            </div>
              </form>
        </div>
        <div>
            <div>
                <h3>Add Income Source</h3>
                <p>add your current income/buget</p>
            </div>
            <div class="register-form">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label>Lable*</label>
                    <input
                      type="text"
                      formControlName="lableAmount"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['lableAmount'].errors }"
                    />
                    <div *ngIf="submitted && f['lableAmount'].errors" class="invalid-feedback">
                      <div *ngIf="f['lableAmount'].errors['required']">Lable is required</div>
                    </div>
                  </div>
              
                  <div class="form-group">
                    <label>Amount*</label>
                    <input
                      type="text"
                      formControlName="amount"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }"
                    />
                    <div *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
                      <div *ngIf="f['amount'].errors['required']">Amount is required</div>
                    </div>
                  </div>
                  <div class="btn-form">
                    <div class="form-group ">
                            <button type="submit" class="btn btn-primary">Add To Bugets</button>
                            <!-- <button type="button" (click)="onReset()" class="btn btn-warning float-right">Reset</button> -->
                      </div>
                  </div>
                </form>
              </div>
        </div>
    </div>
    <div class="ui-categories">
        <h3>Reset Your Expense</h3>
        <h4>Reset your Expense is 0</h4>
        <button type="button" (click)="onReset()" class="btn btn-danger float-right">Reset</button>
    </div>

</div>