.ui-header{
    font-size: large;
}
.h4{
    all: unset;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0.25rem;
}
.ui-bugets input{
    border-radius: 0.25rem;
    
}
  
.register-form {
    max-width: 350px;
  }
  .form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    // width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ui-categories{
    border-top: 1px solid #495057;
    width: 100%;
  }
  .btn-danger{
    color: #fff;
    background-color: #ff0028;
    border-color: #ff0028;
    padding: 10px;
    margin: 10px;
    border-radius: 0.25rem;
  }