.container {
  height: 100%;
}
.content {
  margin: auto;
  position: absolute;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 20%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.btn-login {
  padding: 10px 25px;
  margin-top: 30%;
  font-size: 16px;
  background-color: rgb(6, 128, 243);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-logout {
  padding: 10px 25px;
  font-size: 16px;
  background-color: rgb(243, 6, 18);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card-user {
  padding: 20px 100px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
}
.card-user p {
  font-size: 12px;
  color: grey;
}