<div  class="main-containe">
    <div>
    <div class="mid-header">
        <div class="card">
            <div class="container">
                <h4><b class="md-income">Food</b></h4>
                <p class="md-price">$6000</p>
            </div>
        </div> 
        <div class="card">
            <div class="container">
                <h4><b class="md-income">Fule</b></h4>
                <p class="md-price">$7000</p>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <h4><b class="md-income">lightBill</b></h4>
                <p class="md-price">$8000</p>
            </div>
        </div>
    </div>
    <div class="mid-header1">
        <div class="card">
            <div class="container">
                <h4><b class="md-income">Travilng</b></h4>
                <p class="md-price">$9000</p>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <h4><b class="md-income">Movies</b></h4>
                <p class="md-price">$10000</p>
            </div>
        </div>
        
    </div>
    </div>
</div>