<div class="home-parent">
    <!-- header layer -->
    <div class="sub-header">
        <a>YOUR BALANCE: ${{myBalance}}</a>
    </div>
    <!-- middle layer -->
    <div class="mid-header">
        <div class="card">
            <div class="container">
                <h4><b class="md-income">Income /Budget</b></h4>
                <p class="md-price">${{myincome}}</p>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <h4><b class="md-income">Expense</b></h4>
                <p class="md-price">${{myExpense}}</p>
            </div>
        </div>
    </div>
    <!-- last layer -->
    <div class="md-lastlayer">
        <div class="card-table">
            <div class="list-title">
                <p>Transation History</p>
            </div>
            <p-table [value]="income">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr class="table-data">
                        <td>{{ product.lableAmount }}</td>
                        <td></td>
                        <td>{{ product.amount }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="md-chart">
            <canvas id="myChart"></canvas>
        </div>
    </div>
